In [60]:
import os 
import json
import numpy as np
import pandas as pd
from sklearn.externals import joblib
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import Lasso

from sklearn.pipeline import make_pipeline

import warnings
#warnings.filterwarnings("ignore")

In [11]:
!ls /mnt/C89CF3A00D398BCA/Users/HOME/Programming/Entrance\ tasks/Cinimex\ Data\ Lab/data

student-mat.csv  student-merge.R  student-por.csv  student.txt

In [52]:
df = pd.read_csv("../data/student-mat.csv", ";")
print(df.shape)
df.head(1)

(395, 33)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6

In [53]:
numeric = ["age", 'Medu', "Fedu", "traveltime", "studytime", "failures",\
           "famrel", "freetime", "goout", "Dalc", "Walc", "health", "absences", "G1", "G2"]

X, y = df[numeric], df["G3"]

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.1, random_state=42)

In [55]:
df.loc[df["age"] >= 20, 'age'] = 19

In [56]:
df[df["age"] >= 20]

Empty DataFrame
Columns: [school, sex, age, address, famsize, Pstatus, Medu, Fedu, Mjob, Fjob, reason, guardian, traveltime, studytime, failures, schoolsup, famsup, paid, activities, nursery, higher, internet, romantic, famrel, freetime, goout, Dalc, Walc, health, absences, G1, G2, G3]
Index: []

[0 rows x 33 columns]

In [66]:
def build_and_train():
    # loading data
    df = pd.read_csv("../data/student-mat.csv", ";")
    numeric_cols = ["age", 'Medu', "Fedu", "traveltime", "studytime", "failures",
                    "famrel", "freetime", "goout", "Dalc", "Walc", "health", "absences", "G1", "G2"]

    x, y = df[numeric_cols], df["G3"]
    x_train, x_test, y_train, y_test = train_test_split(
        x, y, test_size=0.1, random_state=42)

    # making pipeline
    pipe = make_pipeline(PreProcessing(), Lasso(alpha=0.0001))
                         #RandomForestRegressor())

    # setting up grid search
    param_grid = {"randomforestregressor__n_estimators": [10, 20, 30],
                  "randomforestregressor__max_depth": [None, 6, 8, 10],
                  "randomforestregressor__max_leaf_nodes": [None, 5, 10, 20],
                  "randomforestregressor__min_impurity_split": [0.1, 0.2, 0.3]}
    
    param_grid = {}

    # running grid search
    grid = GridSearchCV(pipe, param_grid=param_grid, cv=3)
    grid.fit(x_train, y_train)

    return grid

class PreProcessing(BaseEstimator, TransformerMixin):
    """Custom Pre-Processing estimator for our use-case
    """

    def __init__(self):
        pass

    def transform(self, df):
        """Regular transform() that is a help for training, validation & testing datasets
           (NOTE: The operations performed here are the ones that we did prior to this cell)
        """
        numeric_cols = ["age", 'Medu', "Fedu", "traveltime", "studytime", "failures",
                        "famrel", "freetime", "goout", "Dalc", "Walc", "health", "absences", "G1", "G2"]
        df = df[numeric_cols]
        
        df.loc[df["age"] >= 20, 'age'] = 19
        df.loc[df["Dalc"] > 3, 'Dalc'] = 3
        
        return df.as_matrix()

    def fit(self, df, y=None, **fit_params):
        """Fitting the Training dataset & calculating the required values from train
           e.g: We will need the mean of X_train['Loan_Amount_Term'] that will be used in
                transformation of X_test
        """
        return self
    
grid = build_and_train()

from sklearn import metrics
df = pd.read_csv("../data/student-por.csv", ";")
numeric_cols = ["age", 'Medu', "Fedu", "traveltime", "studytime", "failures",
                        "famrel", "freetime", "goout", "Dalc", "Walc", "health", "absences", "G1", "G2"]
X, y = df[numeric_cols], df["G3"]
metrics.mean_absolute_error(y_test, grid.predict(X_test))

1.494434216789609

In [39]:
df.drop(df[df["G3"] == 0].index)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
5,GP,M,16,U,LE3,T,4,3,services,other,...,5,4,2,1,2,5,10,15,15,15
6,GP,M,16,U,LE3,T,2,2,other,other,...,4,4,4,1,1,3,0,12,12,11
7,GP,F,17,U,GT3,A,4,4,other,teacher,...,4,1,4,1,1,1,6,6,5,6
8,GP,M,15,U,LE3,A,3,2,services,other,...,4,2,2,1,1,1,0,16,18,19
9,GP,M,15,U,GT3,T,3,4,other,other,...,5,5,1,1,1,5,0,14,15,15
10,GP,F,15,U,GT3,T,4,4,teacher,health,...,3,3,3,1,2,2,0,10,8,9
11,GP,F,15,U,GT3,T,2,1,services,other,...,5,2,2,1,1,4,4,10,12,12
12,GP,M,15,U,LE3,T,4,4,health,services,...,4,3,3,1,3,5,2,14,14,14
13,GP,M,15,U,GT3,T,4,3,teacher,other,...,5,4,3,1,2,3,2,10,10,11
14,GP,M,15,U,GT3,A,2,2,other,other,...,4,5,2,1,1,3,0,14,16,16
15,GP,F,16,U,GT3,T,4,4,health,other,...,4,4,4,1,2,2,4,14,14,14
16,GP,F,16,U,GT3,T,4,4,services,services,...,3,2,3,1,2,2,6,13,14,14
17,GP,F,16,U,GT3,T,3,3,other,other,...,5,3,2,1,1,4,4,8,10,10
18,GP,M,17,U,GT3,T,3,2,services,services,...,5,5,5,2,4,5,16,6,5,5
19,GP,M,16,U,LE3,T,4,3,health,other,...,3,1,3,1,3,5,4,8,10,10
20,GP,M,15,U,GT3,T,4,3,teacher,other,...,4,4,1,1,1,1,0,13,14,15
21,GP,M,15,U,GT3,T,4,4,health,health,...,5,4,2,1,1,5,0,12,15,15
22,GP,M,16,U,LE3,T,4,2,teacher,other,...,4,5,1,1,3,5,2,15,15,16
23,GP,M,16,U,LE3,T,2,2,other,other,...,5,4,4,2,4,5,0,13,13,12
24,GP,F,15,R,GT3,T,2,4,services,health,...,4,3,2,1,1,5,2,10,9,8
25,GP,F,16,U,GT3,T,2,2,services,services,...,1,2,2,1,3,5,14,6,9,8
26,GP,M,15,U,GT3,T,2,2,other,other,...,4,2,2,1,2,5,2,12,12,11
27,GP,M,15,U,GT3,T,4,2,health,services,...,2,2,4,2,4,1,4,15,16,15
28,GP,M,16,U,LE3,A,3,4,services,other,...,5,3,3,1,1,5,4,11,11,11
29,GP,M,16,U,GT3,T,4,4,teacher,teacher,...,4,4,5,5,5,5,16,10,12,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
361,MS,M,18,R,LE3,T,1,1,at_home,other,...,4,4,3,2,3,5,2,13,12,12
362,MS,F,18,U,GT3,T,3,3,services,services,...,4,3,2,1,3,3,0,11,11,10
363,MS,F,17,U,LE3,T,4,4,at_home,at_home,...,2,3,4,1,1,1,0,16,15,15
364,MS,F,17,R,GT3,T,1,2,other,services,...,3,2,2,1,2,3,0,12,11,12
365,MS,M,18,R,GT3,T,1,3,at_home,other,...,3,3,4,2,4,3,4,10,10,10
366,MS,M,18,U,LE3,T,4,4,teacher,services,...,4,2,2,2,2,5,0,13,13,13
368,MS,F,18,U,GT3,T,2,3,at_home,services,...,5,2,3,1,2,4,0,11,10,10
369,MS,F,18,R,GT3,T,4,4,other,teacher,...,3,2,2,4,2,5,10,14,12,11
370,MS,F,19,U,LE3,T,3,2,services,services,...,3,2,2,1,1,3,4,7,7,9
371,MS,M,18,R,LE3,T,1,2,at_home,services,...,4,3,3,2,3,3,3,14,12,12
372,MS,F,17,U,GT3,T,2,2,other,at_home,...,3,4,3,1,1,3,8,13,11,11
373,MS,F,17,R,GT3,T,1,2,other,other,...,3,5,5,1,3,1,14,6,5,5
374,MS,F,18,R,LE3,T,4,4,other,other,...,5,4,4,1,1,1,0,19,18,19
375,MS,F,18,R,GT3,T,1,1,other,other,...,4,3,2,1,2,4,2,8,8,10
376,MS,F,20,U,GT3,T,4,2,health,other,...,5,4,3,1,1,3,4,15,14,15
377,MS,F,18,R,LE3,T,4,4,teacher,services,...,5,4,3,3,4,2,4,8,9,10
378,MS,F,18,U,GT3,T,3,3,other,other,...,4,1,3,1,2,1,0,15,15,15
379,MS,F,17,R,GT3,T,3,1,at_home,other,...,4,5,4,2,3,1,17,10,10,10
380,MS,M,18,U,GT3,T,4,4,teacher,teacher,...,3,2,4,1,4,2,4,15,14,14
381,MS,M,18,R,GT3,T,2,1,other,other,...,4,4,3,1,3,5,5,7,6,7
382,MS,M,17,U,GT3,T,2,3,other,services,...,4,4,3,1,1,3,2,11,11,10
384,MS,M,18,R,GT3,T,4,2,other,other,...,5,4,3,4,3,3,14,6,5,5
385,MS,F,18,R,GT3,T,2,2,at_home,other,...,5,3,3,1,3,4,2,10,9,10
386,MS,F,18,R,GT3,T,4,4,teacher,at_home,...,4,4,3,2,2,5,7,6,5,6
388,MS,F,18,U,LE3,T,3,1,teacher,services,...,4,3,4,1,1,1,0,7,9,8
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [33]:
#making pipeline
pipe = make_pipeline(PreProcessing(), RandomForestRegressor())
pipe

Pipeline(steps=[('preprocessing', PreProcessing()), ('randomforestregressor', RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_split=1e-07, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=10, n_jobs=1, oob_score=False, random_state=None,
           verbose=0, warm_start=False))])

In [16]:
#setting up grid search
param_grid = {"randomforestregressor__n_estimators" : [10, 20, 30],
             "randomforestregressor__max_depth" : [None, 6, 8, 10],
             "randomforestregressor__max_leaf_nodes": [None, 5, 10, 20], 
             "randomforestregressor__min_impurity_split": [0.1, 0.2, 0.3]}

#running grid search
grid = GridSearchCV(pipe, param_grid=param_grid, cv=3)

grid.fit(X_train, y_train)

GridSearchCV(cv=3, error_score='raise',
       estimator=Pipeline(steps=[('preprocessing', PreProcessing()), ('randomforestregressor', RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_split=1e-07, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=10, n_jobs=1, oob_score=False, random_state=None,
           verbose=0, warm_start=False))]),
       fit_params={}, iid=True, n_jobs=1,
       param_grid={'randomforestregressor__n_estimators': [10, 20, 30], 'randomforestregressor__max_depth': [None, 6, 8, 10], 'randomforestregressor__max_leaf_nodes': [None, 5, 10, 20], 'randomforestregressor__min_impurity_split': [0.1, 0.2, 0.3]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
       scoring=None, verbose=0)

In [34]:
print("Best parameters: {}".format(grid.best_params_))
print()
print("Validation set score: {:.2f}".format(grid.score(X_test, y_test)))

Best parameters: {'randomforestregressor__max_depth': 8, 'randomforestregressor__max_leaf_nodes': 20, 'randomforestregressor__min_impurity_split': 0.3, 'randomforestregressor__n_estimators': 30}

Validation set score: 0.82

In [40]:
#saving model
import dill as pickle
filename = 'model_v1.pk'

with open('flask_api/models/' + filename, 'wb') as file:
    pickle.dump(grid, file)

test_df = X_test
with open("flask_api/models/model_v1.pk", "rb") as file:
    loaded_mdoel = pickle.load(file)
loaded_mdoel.predict(test_df)

array([  7.65771791,  11.75536448,   6.8279828 ,   9.21527288,
         9.21960747,  12.74024116,  18.43117025,   7.36828981,
         7.50369813,  13.68939447,  15.53908385,   7.27364417,
        14.13919495,  11.57698879,  14.13947566,   8.10173326,
         1.35914299,  10.78393929,  15.2749301 ,   4.39619957,
        13.89660097,  15.3947856 ,  15.1313949 ,   6.5337037 ,
         6.92644074,  18.96553773,  10.9002691 ,  10.03307091,
        17.87701681,  10.92557405,   9.07976301,   8.66348207,
        15.1618546 ,  12.97659658,   1.651237  ,   6.54941138,
         0.        ,  15.30237821,  11.78838443,   7.92424414])

In [45]:
# testing server
import json
import requests

"""Setting the headers to send and accept json responses
"""
header = {'Content-Type': 'application/json', \
                  'Accept': 'application/json'}

"""Reading test batch
"""
#df = pd.read_csv('../data/test.csv', encoding="utf-8-sig")
#df = df.head()

"""Converting Pandas Dataframe to json
"""
data = test_df.to_json(orient='records')

In [52]:
"""POST <url>/predict
"""
#link = """https://deploying-predictions-tutorial.herokuapp.com/predict"""
link = """http://0.0.0.0:8007/predict"""

resp = requests.post(link, \
                    data = json.dumps(data),\
                    headers= header)

In [53]:
resp.status_code

200

In [54]:
"""The final response we get is as follows:
"""
resp.json()

{'predictions': '[{"0":5.7765337903},{"0":5.6044252044},{"0":5.7998220298},{"0":4.9475787638},{"0":5.6563564214},{"0":5.6044252044},{"0":5.9551112314},{"0":5.9960575998},{"0":1.4},{"0":4.8649657287},{"0":5.8620556758},{"0":5.9923538961},{"0":5.5664622415},{"0":5.4775733526},{"0":5.7218326118},{"0":1.8},{"0":5.9024597162},{"0":5.8320893458},{"0":4.5554834055},{"0":5.8654226792},{"0":4.5892328042},{"0":4.4804834055},{"0":5.8695893458},{"0":6.0783387446},{"0":5.780700457},{"0":5.9923538961},{"0":5.6044252044},{"0":4.731758658},{"0":5.9139075277},{"0":1.2},{"0":6.0783387446},{"0":5.4822029822},{"0":5.5155363155},{"0":5.8168783069},{"0":5.6044252044},{"0":5.6563564214},{"0":5.817737494},{"0":6.0725186388},{"0":5.5525733526},{"0":5.7588696489}]'}

In [58]:
resp.json()["predictions"]

'[{"0":5.7765337903},{"0":5.6044252044},{"0":5.7998220298},{"0":4.9475787638},{"0":5.6563564214},{"0":5.6044252044},{"0":5.9551112314},{"0":5.9960575998},{"0":1.4},{"0":4.8649657287},{"0":5.8620556758},{"0":5.9923538961},{"0":5.5664622415},{"0":5.4775733526},{"0":5.7218326118},{"0":1.8},{"0":5.9024597162},{"0":5.8320893458},{"0":4.5554834055},{"0":5.8654226792},{"0":4.5892328042},{"0":4.4804834055},{"0":5.8695893458},{"0":6.0783387446},{"0":5.780700457},{"0":5.9923538961},{"0":5.6044252044},{"0":4.731758658},{"0":5.9139075277},{"0":1.2},{"0":6.0783387446},{"0":5.4822029822},{"0":5.5155363155},{"0":5.8168783069},{"0":5.6044252044},{"0":5.6563564214},{"0":5.817737494},{"0":6.0725186388},{"0":5.5525733526},{"0":5.7588696489}]'

In [59]:
pd.read_json(resp.json())

ValueError: Invalid file path or buffer object type: <class 'dict'>

In [63]:
from pandas.io.json import json_normalize
json_normalize(resp.json(), sep=",")

                                         predictions
0  [{"0":5.7765337903},{"0":5.6044252044},{"0":5....

In [51]:
t = loaded_mdoel.predict(test_df)
pd.DataFrame(t)

            0
0    7.657718
1   11.755364
2    6.827983
3    9.215273
4    9.219607
5   12.740241
6   18.431170
7    7.368290
8    7.503698
9   13.689394
10  15.539084
11   7.273644
12  14.139195
13  11.576989
14  14.139476
15   8.101733
16   1.359143
17  10.783939
18  15.274930
19   4.396200
20  13.896601
21  15.394786
22  15.131395
23   6.533704
24   6.926441
25  18.965538
26  10.900269
27  10.033071
28  17.877017
29  10.925574
30   9.079763
31   8.663482
32  15.161855
33  12.976597
34   1.651237
35   6.549411
36   0.000000
37  15.302378
38  11.788384
39   7.924244