# Simple guide to store csv in SQL database

# First, a quick and dirty approach

	1. Install Postgres on your local machine  
	2. Import the CSV into a local Postgres database  
	3. Push that database to Heroku  
	
	
# Commands
	sudo apt-get install postgresql - installing Postgres
	which psql
	psql
	
	sudo -u postgres -i - Run postgres
	
	heroku addons - check if the app has an SQL-addon
	
## How to create user
	https://stackoverflow.com/questions/11919391/postgresql-error-fatal-role-username-does-not-exist
	
## Nice tutorial
http://blog.y3xz.com/blog/2012/08/16/flask-and-postgresql-on-heroku

Python: 
https://stackoverflow.com/questions/2987433/how-to-import-csv-file-data-into-a-postgresql-table

Finally, what worked for me:
http://andyfiedler.com/2016/03/using-jupyter-for-exploring-a-heroku-database

In [3]:
import pandas as pd
from sqlalchemy import create_engine
import subprocess

In [44]:
# reading data
df = pd.read_csv('../data/student-mat.csv', ";")

# postgres doesn't like capitals or spaces
df.columns = [c.lower() for c in df.columns]

In [1]:
DATABASE_URL = subprocess.check_output("heroku config:get DATABASE_URL --app students-and-alcohol",
                                       shell=True).decode('utf-8')
engine = create_engine(DATABASE_URL)

In [46]:
# storing to db
df.to_sql("students_test", engine)

In [5]:
pd.read_sql_query('select sex, age from students_test', con=engine).head()

  sex  age
0   F   18
1   F   17
2   F   15
3   F   15
4   F   16