In [23]:
import seaborn as sns
import numpy as np
import pandas as pd

import statsmodels
import scipy as sc
import statsmodels.formula.api as smf
import statsmodels.stats.api as sms
from statsmodels.graphics.regressionplots import plot_leverage_resid2
import matplotlib.pyplot as plt

/home/swm/anaconda3/lib/python3.6/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [24]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [22]:
#Loading and checking data
df = pd.read_csv("data/student-mat.csv", sep=";")
print(" data shape: ", df.shape, "\n rows with NA values: ", df.isnull().any(axis=1).sum())
df.head(1)

 data shape:  (395, 33)
 rows with NA values:  0

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6

In [ ]:
binary = ["schoolsup", "famsup", "paid", "activities", "nursery", "higher", "internet", "romantic"]
numeric = ["activities", "famrel", "freetime", "goout", "Dalc", "Walc", "health", "absences"]